* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: unset;
}

@import "./partials/colors";
@import "./partials/fonts";
@import "./partials/breakpoints";
@import "./partials/mixins";
@import "./partials/header";
@import "./partials/hero";
@import "./partials/about";
@import "./partials/comments";
@import "./partials/newcomments";
@import "./partials/videos";

#root {
  background-color: $color-white;
}

@include large {
  .page__flex {
    display: flex;
  }
  .page__videos {
    border-left: 1px solid $color-mercury;
  }
  .comment__container {
    padding-bottom: 1.5rem;
  }
}
