.header {
  max-height: 10.5625rem;
  padding: 0 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-white;
  &__logo {
    height: 3rem;
    display: flex;
    justify-content: center;
  }
  &__search {
    width: 90vw;
    height: 3.03125rem;
    display: flex;
    justify-content: right;
    align-items: center;
    border-radius: 0.25rem;
    border: 1px solid $color-mercury;
    &:focus {
      outline-width: 0;
    }
    &-image {
      height: 1.125rem;
      width: 1.125rem;
    }
    &-bar {
      resize: none;
      width: inherit;
      height: inherit;
      @include mobile-para;
    }
  }
  &__bot {
    display: flex;
    flex-direction: row;
    padding-top: 0.5rem;
    &-upload {
      height: 3.03125rem;
      width: 14.5rem;
      background-color: $color-brainflixblue;
      color: $color-white;
      border: none;
      border-radius: 0.25rem;
      @include mobile-para;
      &:focus {
        outline-width: 0;
      }
      &:hover {
        background-color: $color-brainflixblue-dark;
      }
      &-image {
        padding-right: 1rem;
      }
    }
    &-user {
      min-width: 3rem;
      height: 3rem;
      background-image: url(../assets/Images/Mohan-muruge.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 2rem;
      margin-left: 1rem;
    }
  }
}
